.fifthBoxMainContainer {
    width: 100%;
    margin: 190px auto 0;

}

.fifthBox_bgColour {
    width: 70%;
    max-height: 100%;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    margin: 0 auto;
    border-radius: 24px;
}

.fifthBox_bgColour>h2 {
    padding-top: 64px;
    text-align: center;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.fifthBox_horizentalLine {
    width: 56px;
    height: 2px;
    margin: 25px auto 0;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
}

.reviewImage {
    background-image: url('Images/image.png');
    height: 141px;
    width: 141px;
    border: 4px solid #fff;
    border-radius: 50%;
}

.fifthBox_reviewBox {
    padding-bottom: 30px;
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.fifthBox_reviewBox>p {
    height: 120px;
    width: 420px;
    color: rgba(255, 255, 255, 0.90);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.review_personName>h2 {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.review_personName>h5 {
    color: rgba(255, 255, 255, 0.85);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 48px; */

}

.fifthBox_sliderIcon {
    margin-top: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.midSlider {
    margin: 0 89.57px;
}


.fifthBox_sliderIcon>svg>g:hover {
    cursor: pointer;
    opacity: 1;
}

.fifthBox_sliderIcon>svg>circle:hover {
    cursor: pointer;
    opacity: 1;
}